* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  /* fontes  */
  --primary-font: "Merriweather Sans", sans-serif;
  --secondary-font: "JetBrains Mono", monospace;
  /* cores  */
  --palatine-blue-one: #2348e1;
  --palatine-blue-two: - #2c45e2;
  --palatine-blue-three:- #5336e5;
  --white:#fefefe;
  --palatine-blue-five:#4040e4;
}

body {
  width: 100%;
  min-height: 100vh;
}

header {
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
position: relative;
}

.content-header {
  display: flex;
  align-items: center;
}

.content-header img {
  height: 60px;
  display: flex;
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  background-color: var(--palatine-blue-one);
  border-radius: 50px;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-bg1, .nav-bg2 {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #fff;
  width: 40px; 
  padding: 8px 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.nav-bg1 img, .nav-bg2 img {
  width: 24px;
  height: 24px;
  transition: margin 0.3s ease-in-out;
}

.nav-bg1 a {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: -48px; 
}

.nav-bg2 a {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: -68px; 
}


.nav-bg1:hover, .nav-bg2:hover {
  width: 120px; 
  justify-content: flex-start;
  padding-left: 15px; 
}

.nav-bg1:hover img, .nav-bg2:hover img {
  margin-right: 5px; 
}

.nav-bg1:hover a {
  opacity: 1;
  margin-left: 5px; 
}

.nav-bg2:hover a {
  opacity: 1;
  margin-left: 0px; 
}

.navigation ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.navigation ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--palatine-blue-one);
}


h1 {
  color: var(--palatine-blue-one);
}