* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  /* fontes  */
  --primary-font: "Merriweather Sans", sans-serif;
  --secondary-font: "JetBrains Mono", monospace;
  /* cores  */
  --palatine-blue-one: #2348e1;
  --palatine-blue-two: - #2c45e2;
  --palatine-blue-three:- #5336e5;
  --white:#fefefe;
  --palatine-blue-five:#4040e4;
}

body {
  width: 100%;
  min-height: 100vh;
}

header {
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
position: relative;
}

.content-header {
  display: flex;
  align-items: center;
}

.content-header img {
  height: 60px;
  display: flex;
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  background-color: var(--palatine-blue-one);
  border-radius: 50px;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-bg {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background: #fff;
  width: 100px;
  padding: 8px 0;
  border-radius: 18px;
}

.navigation ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.navigation ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--palatine-blue-one);
}


h1 {
  color: var(--palatine-blue-one);
}